
.color{
    color: red;
}
.color:hover{
    background-color: green;
    text-decoration: underline;
}
h1{
    color: rgb(11, 234, 37);
}
.bg-danger1{
    background-color: aqua;
}
.middle{
    height: 350px;
}
h2{
    color:rgb(255, 109, 4)
}
.my-image{
    height: 300px;
    border-radius: 7%;
   
}
.lastcontainer{
    background-color: aqua;
    display: flex;
    background-image: url('https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
}
.lastparagraph{
    color: white;
    font-size: 24px;
}
.main{
    text-align: center;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/3617500/pexels-photo-3617500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    padding: 20px;
    font-size: 20px;
    
}